In [234]:
import scipy

In [235]:
mat = scipy.io.loadmat('MR001A.mat')
mat

{'__header__': b'MATLAB 5.0 MAT-file, Platform: PCWIN64, Created on: Tue Oct 22 13:59:07 2024',
 '__version__': '1.0',
 '__globals__': [],
 'matriz_resultante': array([[ -624.4,  -628.9,  -634.1, ...,  -535.2,  -533.2,  -531.5],
        [ -679.2,  -681.3,  -682.8, ...,  -644.7,  -642.6,  -641.2],
        [ -688.5,  -689.5,  -689.7, ...,  -623.5,  -621.2,  -619.3],
        ...,
        [ -678.2,  -680.5,  -681.9, ...,  -638.4,  -636.4,  -634.8],
        [ -659.9,  -660.7,  -660.9, ...,  -620.3,  -617.4,  -616.2],
        [ -602.7,  -622.8,  -672.3, ..., -1078.7,  -836.1,  -536.3]])}

In [236]:
data = mat['matriz_resultante']
print(data.shape)
data

(32, 96000)

array([[ -624.4,  -628.9,  -634.1, ...,  -535.2,  -533.2,  -531.5],
       [ -679.2,  -681.3,  -682.8, ...,  -644.7,  -642.6,  -641.2],
       [ -688.5,  -689.5,  -689.7, ...,  -623.5,  -621.2,  -619.3],
       ...,
       [ -678.2,  -680.5,  -681.9, ...,  -638.4,  -636.4,  -634.8],
       [ -659.9,  -660.7,  -660.9, ...,  -620.3,  -617.4,  -616.2],
       [ -602.7,  -622.8,  -672.3, ..., -1078.7,  -836.1,  -536.3]])

In [237]:
import pandas as pd

data = pd.read_csv("./registros_prueba/EEG_data.csv")
print(data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12811 entries, 0 to 12810
Data columns (total 15 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   SubjectID           12811 non-null  float64
 1   VideoID             12811 non-null  float64
 2   Attention           12811 non-null  float64
 3   Mediation           12811 non-null  float64
 4   Raw                 12811 non-null  float64
 5   Delta               12811 non-null  float64
 6   Theta               12811 non-null  float64
 7   Alpha1              12811 non-null  float64
 8   Alpha2              12811 non-null  float64
 9   Beta1               12811 non-null  float64
 10  Beta2               12811 non-null  float64
 11  Gamma1              12811 non-null  float64
 12  Gamma2              12811 non-null  float64
 13  predefinedlabel     12811 non-null  float64
 14  user-definedlabeln  12811 non-null  float64
dtypes: float64(15)
memory usage: 1.5 MB
None

In [238]:
demo_data = pd.read_csv('./registros_prueba/demographic_info.csv')
demo_data

   subject ID   age    ethnicity  gender
0           0    25  Han Chinese       M
1           1    24  Han Chinese       M
2           2    31      English       M
3           3    28  Han Chinese       F
4           4    24      Bengali       M
5           5    24  Han Chinese       M
6           6    24  Han Chinese       M
7           7    25  Han Chinese       M
8           8    25  Han Chinese       M
9           9    24  Han Chinese       F

In [239]:
demo_data = demo_data.rename(columns = {'subject ID': 'SubjectID'})
y_data = data.merge(demo_data,how = 'inner',on = 'SubjectID')
y_data

,SubjectID,VideoID,Attention,Mediation,Raw,Delta,Theta,Alpha1,Alpha2,Beta1,Beta2,Gamma1,Gamma2,predefinedlabel,user-definedlabeln,age,ethnicity,gender
0,0.0,0.0,56.0,43.0,278.0,301963.0,90612.0,33735.0,23991.0,27946.0,45097.0,33228.0,8293.0,0.0,0.0,25,Han Chinese,M
1,0.0,0.0,40.0,35.0,-50.0,73787.0,28083.0,1439.0,2240.0,2746.0,3687.0,5293.0,2740.0,0.0,0.0,25,Han Chinese,M
2,0.0,0.0,47.0,48.0,101.0,758353.0,383745.0,201999.0,62107.0,36293.0,130536.0,57243.0,25354.0,0.0,0.0,25,Han Chinese,M
3,0.0,0.0,47.0,57.0,-5.0,2012240.0,129350.0,61236.0,17084.0,11488.0,62462.0,49960.0,33932.0,0.0,0.0,25,Han Chinese,M
4,0.0,0.0,44.0,53.0,-8.0,1005145.0,354328.0,37102.0,88881.0,45307.0,99603.0,44790.0,29749.0,0.0,0.0,25,Han Chinese,M
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12806,9.0,9.0,64.0,38.0,-39.0,127574.0,9951.0,709.0,21732.0,3872.0,39728.0,2598.0,960.0,1.0,0.0,24,Han Chinese,F
12807,9.0,9.0,61.0,35.0,-275.0,323061.0,797464.0,153171.0,145805.0,39829.0,571280.0,36574.0,10010.0,1.0,0.0,24,Han Chinese,F
12808,9.0,9.0,60.0,29.0,-426.0,680989.0,154296.0,40068.0,39122.0,10966.0,26975.0,20427.0,2024.0,1.0,0.0,24,Han Chinese,F
12809,9.0,9.0,60.0,29.0,-84.0,366269.0,27346.0,11444.0,9932.0,1939.0,3283.0,12323.0,1764.0,1.0,0.0,24,Han Chinese,F
12810,9.0,9.0,64.0,29.0,-49.0,1164555.0,1184366.0,50014.0,124208.0,10634.0,445383.0,22133.0,4482.0,1.0,0.0,24,Han Chinese,F

In [240]:
data = pd.get_dummies(data)
y_data = pd.get_dummies(y_data)

In [241]:
data.drop(columns = ['VideoID','predefinedlabel','user-definedlabeln'],inplace=True)
y_data.drop(columns = ['VideoID','predefinedlabel'],inplace=True)

In [242]:
x_train = data[(data['SubjectID'] >= 0) & (data['SubjectID'] <= 5)]
x_valid = data[(data['SubjectID'] >= 6) & (data['SubjectID'] <= 7)]
x_test = data[(data['SubjectID'] >= 8) & (data['SubjectID'] <= 9)]
y_train = y_data[(y_data['SubjectID'] >= 0) & (y_data['SubjectID'] <= 5)]
y_valid = y_data[(y_data['SubjectID'] >= 6) & (y_data['SubjectID'] <= 7)]
y_test = y_data[(y_data['SubjectID'] >= 8) & (y_data['SubjectID'] <= 9)]

In [243]:
y_train = y_train.pop('user-definedlabeln')
y_valid = y_valid.pop('user-definedlabeln')
y_test = y_test.pop('user-definedlabeln')
x_train.drop(columns = ['SubjectID'],inplace=True)
x_valid.drop(columns = ['SubjectID'],inplace=True)
x_test.drop(columns = ['SubjectID'],inplace=True)

C:\Users\Ricardo\AppData\Local\Temp\ipykernel_21440\3844583132.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x_train.drop(columns = ['SubjectID'],inplace=True)
C:\Users\Ricardo\AppData\Local\Temp\ipykernel_21440\3844583132.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x_valid.drop(columns = ['SubjectID'],inplace=True)
C:\Users\Ricardo\AppData\Local\Temp\ipykernel_21440\3844583132.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x_test.drop(columns = ['SubjectID'],inplace=True)

In [244]:
y_train.shape

(7717,)

In [245]:
x_valid.shape

(2551, 11)

In [246]:
from sklearn.discriminant_analysis import StandardScaler

x_train = StandardScaler().fit_transform(x_train)
x_valid = StandardScaler().fit_transform(x_valid)
x_test = StandardScaler().fit_transform(x_test)

In [247]:
from collections import Counter
import numpy as np


def apply_sliding_window(X, y, window_size, step_size):
    y_res = []
    X_res = []
    posicion = 0
    stride = window_size - step_size
    total = len(y)
    
    while (posicion + window_size < total):
        y_aux = []
        X_aux = []
        
        for _ in range(window_size):
            y_aux.append(y[posicion])
            X_aux.append(X[posicion])
            posicion += 1
        
        valor_mas_comun = Counter(y_aux).most_common(1)
        y_res.append(valor_mas_comun[0][0])

        X_res.append(np.asarray(X_aux))

        posicion -= stride    
    
    return np.asarray(X_res), np.asarray(y_res)

In [248]:
X_train, y_train = apply_sliding_window(x_train, y_train.values, window_size=16, step_size=8)
X_valid, y_valid = apply_sliding_window(x_valid, y_valid.values, window_size=16, step_size=8)
X_test, y_test = apply_sliding_window(x_test, y_test.values, window_size=16, step_size=8)

print(X_train.shape)
print(X_valid.shape)
print(X_test.shape)

(963, 16, 11)
(317, 16, 11)
(316, 16, 11)

In [249]:
print(y_train.shape)
print(y_valid.shape)
print(y_test.shape)

(963,)
(317,)
(316,)

In [250]:
lista_final = [X_train, X_valid, X_test, y_train, y_valid, y_test]

with open('dataset_X_y_sliding_window.npy', 'wb') as f:
    np.save(f, np.array(lista_final, dtype=object))